/*
 *  THIS FILE CAN BE COPIED AND USED TO OVERRIDE THE PEER2PRODUCT DEFAULT THEME! 
 */
/*
jCart v1.3
http://conceptlogic.com/jcart/

This file represents any existing CSS your site may already use

*/

#navbar {
  background: url('hybrix-background.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  border-radius: 12px;
  margin-top: 2em;
  padding-bottom: 40px;
  padding-top: 50px;
  color: #EEE;
}

#navbar a {
  color: #DADADA;
}

#navbar a:hover {
  color: #FFF;
}

#categoryButtons button:hover {
  background: #676767 url('hybrix-gradient.jpg');
  background-repeat: no-repeat;
  background-size: 120% 115%;
  background-position: center;
  transition: 500ms;
}

#categoryButtons .btn-info {
  background: #676767 url('hybrix-gradient.jpg');
  background-repeat: no-repeat;
  background-size: 120% 115%;
  background-position: center;
}

.itemAddToCart:hover{
  background: #676767 url('hybrix-gradient.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120% 115%;
  transition: 500ms;
}

.itemAddToCartSlider {
  background: #676767 url('hybrix-gradient.jpg');
  background-repeat: no-repeat;
  background-size: 120% 115%;
  background-position: center;
}

.itemAddToCartSlider:hover {
  background: #676767 url('hybrix-gradient.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  transition: 500ms;
}

.itemPrice {
  font-size: 1.2em;
}

.itemPrice label {
  display: none;
}

#checkout-content {
  background: linear-gradient(90deg, rgb(189, 230, 226) 50%, rgba(164, 116, 149, 0.48) 100%);
}

#hybrix-footer{
  overflow: hidden;
  min-height: 400px;
  height: auto;
  background-image: url('hybrix-mountainbanner.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}

@media (min-width: 1024px) {
  #hybrix-footer{
    background-size: 100% 100%;
  }
}

#footerButton{
  background: #575757 url('hybrix-gradient.jpg');
  background-repeat: no-repeat;
  background-size: 120% 115%;
  background-position: center;
}

#footerButton:hover {
  background: #676767 url('hybrix-gradient.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  transition: 500ms;
}

#cartContainer {
  margin-top: -1.55em;
  padding-top: 0;
  border-radius: 0 0 12px 12px;
}

#jcart tbody {
  background: #ECECEC;
}

.btn-success:active {
  background-color: #5eb06f;
}
