/*
 *  THIS FILE CAN BE COPIED AND USED TO OVERRIDE THE PEER2PRODUCT DEFAULT THEME! 
 */
/*
jCart v1.3
http://conceptlogic.com/jcart/

This file represents any existing CSS your site may already use

*/

h1 { 
  font-family: 'Source Sans Pro', sans-serif;
}

h2 {  margin-bottom:1em; }

h3 { text-align: center; }

h4 { 
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
 }

h5 {
  text-align: center;
  font-weight: bold; margin-left: 1em; margin-right: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p  {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  font-weight: bold;
}

ul {
  list-style-type: none; /* Remove bullets from unordered lists */
}

/* Slider */
.jcart.slider {
  width: 80%;
  max-width: 80%;
  height: auto;
  max-height: 80%;
  margin-top: auto;
  margin-bottom: auto;
  background: #FFF;
  margin: 0 auto;
  border: 2px solid #CCCCCC59;
  border-radius: 12px;
  padding-top: 1em;
  padding-bottom: 2em;
}

.jcart.slider h3 {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: #575757;
  font-weight: 600;
}

.jcart.slider .slider-description {
  margin-right: 24px;
  overflow: hidden;
}

.jcart.slider .slider-description-p {
  overflow-y: scroll;
  height: auto;
  max-height: 145px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: #575757;
}

.jcart.slider .slider-description-p p {
  text-align: center;
}

.jcart.slider .imgdiv {
  height: 280px;
  width: 50%;
  float: left;
  text-align: center;
  align-content: center;
  vertical-align: middle;
  overflow: hidden;
}

.jcart.slider img {
  height: 280px;
  max-width: 100%;
  padding: 16px;
}

.jcart.slider .add-to-cart-slider {
  margin: 0 auto;
}

#add-to-cart-slider{
  margin-top: 2em;
}

itemAddToCartSlider:hover {
  filter: brightness(1.1);
}

#footerButton{
  background: #575757;
  color: #fff;
  color: #fff;
  padding: padding-top;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1em;
  padding-right: 1em;
  font-family: 'Open Sans Pro';
  font-weight: 600;
  border: 0.5px solid #575757;
  border-radius: 4px;
}

#footerButton:hover{
  filter: brightness(1.1);
}

#sliderShopControls{
  text-align: center !important;
  margin: 0 auto !important;
}

/* Main front */
#peer2product { margin: 0 auto; width: 90%; padding: 1px; min-height: 200px;}

#shopbanner img { max-height: 15em; margin-left: auto; margin-right: auto; }


#shopcta{
  border-radius: 24px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 8px;
  text-align: center; 
  color: #575757;
  margin-top: 2em;
  margin-bottom: 2em; 
}

#shopcta p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14pt;
  font-weight: 600;
  font-style: italic;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}

}

#navbar { 
  display: inline-block;
  margin-top: 2em;
  width: 100%;
  text-align: center;
}

#navbar a { 
  text-decoration: none;
  font-family: 'Comfortaa', cursive;
  color: #575757;
  min-width: 100px;
  min-height: 2em;
}
.icon{
  font-size: 1em;  
}



#categories {
  display: block;
  margin-left: 1em;
  flex-grow: 1;
  color: grey;
  padding-left: 0px;
}

#categories p {
  margin-left: 3px;
}

.nobutton { border: 0; background-color: transparent; border-color: transparent; line-height: 1em; font-size: 18px; }

#sortingButtons {
  display: flex;
  flex-wrap: nowrap;
}

#sorting {
  display: block;
  color: grey; padding-left: 0px;
}

#sorting button {
  background: #575757;
  color: #fff;
  font-family: 'Comfortaa', cursive;  
}

#sorting button:hover {
  filter: brightness(1.1);
}

#sorting .btn-info {
  background: #31b0d5;
}

#cartContainer { 
  width: 100%;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  margin-bottom: 24px;
  padding-top: 24px;
  max-height: 0em;
  transition: max-height 1s ease-out;
}

#bottombar { width:70%; max-width: 780px; margin: auto; margin-top: 48px; margin-bottom: 36px; }

#content { 
  min-height: 480px; 
}

#content p { font-size: 1.2em; margin-bottom: 0.7em; }

.item-container {
  margin-bottom: 2em;
}

.item-container img {
  margin-left: auto;
  margin-right: auto;
  min-height: 300px;
  max-height: 300px;
  padding: 0.1em;
}

.item-container h5 {
  min-height: 2.2em;
}

.item {
  border: 2px solid #CCCCCC59;
  border-radius: 12px;
  padding: 12px;
  padding-bottom: 24px;
}

.itemName {
  font-family: "Comfortaa";
  text-align: center;
  font-weight: 300 !important;
  color: #575757;
}

.itemPrice {
  font-family: "Comfortaa";
  text-align: center;
  font-weight: 300 !important;
  color: #575757;
}

.itemStock {
  font-family: "Comfortaa";
  text-align: center;
  font-size: 14px;
  color: #AAA;
}

.itemAddToCart {
  color: #fff;
  padding: padding-top;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1em;
  padding-right: 1em;
  font-family: 'Open Sans Pro';
  font-weight: 300;
  border-radius: 4px;
  margin: 0 auto;
}

#footer { display: block; margin-top: 2em; margin-bottom: 1em; text-align: center; }

#footer a {text-decoration: none; transition: 600ms; }

#footer a:hover{ font-weight:bolder; }

footer h4{text-align: center;}
footer p {text-align: center; padding: 2px 2px 2px;}
#poweredBy {text-align: right;}

/* Checkout */
.navsteps { text-align: center; }

.badge { background-color: #999; vertical-align: middle; padding: 5px; padding-left: 12px; padding-right: 12px; margin-left: 12px; margin-right: 12px; }

.badge-active { background-color: #7B7; }

.paymentNav { padding: 10px 20px; margin-top: 1.2em; }

.paymentNavBack, .paymentNavNext {
  min-width: 80px;
  background: #676767;
  border-color: #adadad;
  border: 1px;
  color: #FFF;
  font-family: 'Comfortaa';
  margin-bottom: 1em;
}

.paymentNavNext {
  float: right;
}

.paymentNavBack:hover, .paymentNavNext:hover {
  color: #FFF;
  filter: brightness(1.1);
}

#checkout-container {
  margin-left: 12px;
  margin-right: 12px;
}

#address-container {
  display: inline-block; background: #FFF; margin-top: -12px; padding: 12px; min-width: 320px;
  border: 3px dashed #337AB7;
}

#checkout-content {
  background: rgb(238,255,238);
  border-radius: 5px;
}

#checkout-form {
  padding: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: 'Open Sans Pro';
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

#checkout-table {
  background-color: #FFF;
}

.checkout-table-total {
  color: #FFF;
  background-color: #555 !important;
}

.checkout-table-modif {
  color: #FFF;
  background-color: #6A6A6A !important;
}

#categoryButtons button {
  background: #575757;
  color: #fff;
  font-family: 'Comfortaa', cursive;
  margin: 2px;
  transition: 1000ms;
}

#categoryButtons button:hover {
  filter: brightness(1.1);
}

#categoryButtons .btn-info {
  background: #31b0d5;
}

#categoryButtons .btn-danger {
  background: #c9302c;
}