/*
 *  THIS FILE CAN BE COPIED AND USED TO OVERRIDE THE PEER2PRODUCT DEFAULT THEME! 
 */
/*
jCart v1.3
http://conceptlogic.com/jcart/

This file represents any existing CSS your site may already use

*/

#navbar {
  background: url('../../data/hybrix_bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  border-radius: 12px;
  padding-bottom: 40px;
  padding-top: 50px;
  color: #EEE;
}

#navbar a {
  color: #DDD;
}

#categoryButtons button:hover {
  background: #676767 url('../../data/hybrixGradient.jpg');
  background-repeat: no-repeat;
  background-size: 120% 115%;
  background-position: center;
  transition: 500ms;
}

#categoryButtons .btn-info {
  background: #676767 url('../../data/hybrixGradient.jpg');
  background-repeat: no-repeat;
  background-size: 120% 115%;
  background-position: center;
}

#add-to-cart-slider-button {
  background: #676767 url('../../data/hybrixGradient.jpg');
  background-repeat: no-repeat;
  background-size: 120% 115%;
  background-position: center;
}

#add-to-cart-slider-button:hover {
  background: #676767 url('../../data/hybrixGradient.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  transition: 500ms;
}

.itemAddToCart:hover{
  background: #676767 url('../../data/hybrixGradient.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120% 115%;
  transition: 500ms;
}

#checkout-form {
  background: linear-gradient(90deg, rgb(189, 230, 226) 50%, rgba(164, 116, 149, 0.48) 100%);
}

#hybrix-footer{
  overflow: hidden;
  min-height: 400px;
  height: auto;
  background-image: url(../../data/hybrix-mountainbanner.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}

@media (min-width: 1024px) {
  #hybrix-footer{
    background-size: 100% 100%;
  }
}

#footerButton{
  background: #575757 url('../../data/hybrixGradient.jpg');
  background-repeat: no-repeat;
  background-size: 120% 115%;
  background-position: center;
}

#footerButton:hover {
  background: #676767 url('../../data/hybrixGradient.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  transition: 500ms;
}
