/** 
 * Slideshow style rules.
 */
#slideshow {
	margin:0px auto;
	width:100%;
	max-width: 2560px;
	height:auto;
  	position:relative;
  	text-align: center;
	display: inline-block;
	/* background:transparent url(../images/bg_slideshow.jpg) no-repeat 0 0; */
	border-radius: 24px;
}

#slideshow #slidesContainer {
  margin:auto;
  overflow:auto; /* allow scrollbar */
  position:relative;
}

#slideshow #slidesContainer .slide {
  padding-left:4px;
  width:50%; /* reduce to avoid horizontal scroll */
  height:100%;
  margin: auto !important;
}

#slideshow #slidesContainer .slidecontent {
  position: relative;

}

/** 
 * Slideshow controls style rules.
 */
.control {
  display:block;
  width:8px;
  height:100%;
  text-indent:-10000px;
  position:absolute;
  cursor: pointer;
  z-index: 900;
}
#leftControl {
  top:0;
  left:0;
  background:transparent url(../images/prev.png) no-repeat center center;
}
#rightControl {
  top:0;
  right:0;
  background:transparent url(../images/next.png) no-repeat center center;
}

#sliderProductName{
  text-align: center;
}

#sliderDescription{
  text-align: center;
}

