/*
jCart v1.3
http://conceptlogic.com/jcart/

This file represents any existing CSS your site may already use

*/

* { margin:0; padding:0; }

html { background:#fff; font-family:trebuchet ms, candara, sans-serif; font-size:62.5%; }
body { font-size:1.5em; padding-bottom: 48px; }

h1 { font-size: 2.2em; margin-top:1.2em; margin-bottom:1em; }
h2 { font-size: 1.85em; margin-bottom:1em; }
p  { font-size: 1.3em; margin-bottom:1em; }
h4 { font-size: 1.4em; }
h5 { font-weight: bold; margin-left: 1em; margin-right: 1em; }

.clear { clear:both; }

.fadeout {
    position: relative;
    bottom: 4em;
    height: 4em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    ); 
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}

/* Item forms */
.jcart {
 margin:0 10px 10px 0; padding-top:10px; border:dashed 2px #66cc66; background:#fff; text-align:center;
 border-radius: 12px;
 min-width: 180px;
 max-width: 240px;
 display: inline-block;
}
.jcart img{ padding: 8px; height: 128px; max-width: 320px; }
.jcart ul { margin:0; list-style:none; padding:0 20px; text-align:left; }
.jcart fieldset { border:0; }
.jcart strong { color:#000066; }
.jcart .button { margin:20px; padding:5px; }
#jcart th, #jcart td { border: 1px solid #4CAE4C; }
#jcart th { background: #7EE07E none repeat scroll 0% 0%; }
.jcart .add-to-cart { margin:10px; }

.jcart.slider {
	width: 80%;
	max-width: 80%;
	height: 90%;
	max-height: 90%;
	padding-top: 0;
}
.jcart.slider h3 {
	text-align: left;
	padding-left: 24px;
	/*margin-right: 24px;*/
}
.jcart.slider .slider-description {
	margin-right: 24px;
	overflow: hidden;
}
.jcart.slider .slider-description-p {
	overflow: hidden;
	min-height: 120px;
	max-height: 145px;	
	text-align: left;
}
.jcart.slider .slider-description-p p {
	text-align: left;
	font-size: 1.1em !important;
}
.jcart.slider .imgdiv {
	height: 280px;
	width: 50%;
	float: left;
	text-align: center;
	align-content: center;
	vertical-align: middle;
	overflow: hidden;
}
.jcart.slider img {
	height: 280px;
	max-width: 100%;
	padding: 16px;
}
.jcart.slider .add-to-cart-slider {
	background: #FFF;
	position: absolute;
	bottom: 5%;
	right: 12%;
	padding-left: 16px;
	margin: 12px auto;
}

/* Main front */
#peer2product { margin: 0 auto; width: 90%; padding: 8px; min-height: 200px;}
#shopnav { padding: 12px; margin-bottom: 40px; min-height: 48px; }
#topbar { margin-top: -16px; }
#navbar { display: inline-block; float: right; font-size: 1.1em; margin-top: 24px; }
#navbar a { padding-left: 16px; padding-right: 16px; text-decoration: none; }
#footer { float: right; margin-top: 24px; margin-bottom: 16px; }
#sidebar { width:35%; float:right; margin-left: 20px; margin-left: 20px; }
#bottombar { width:70%; max-width: 780px; margin: auto; margin-top: 48px; margin-bottom: 36px; }
#content { min-height: 480px; }
#content p { font-size: 1.2em; margin-bottom: 0.7em; }

#categories { padding-top: 0; padding-bottom: 24px; }
#categories button { margin: 3px; }
#sorting { padding: 5px; float: right; }

.nobutton { border: 0; background-color: transparent; border-color: transparent; line-height: 1em; font-size: 1.5em; margin-top: -0.1em; margin-bottom: 0.1em; }

/* Checkout */
.navsteps { text-align: center; }
.badge { background-color: #999; padding: 5px; padding-left: 12px; padding-right: 12px; margin-left: 12px; margin-right: 12px; }
.badge-active { background-color: #7B7; }

#paymentnav { padding: 10px 20px; margin-top: 4px; }
#paymentnav .btn { min-width: 80px; }

label { margin-top: 12px; }

#checkout-container {
	margin-left: 12px;
	margin-right: 12px;
}

#address-container {
	display: inline-block; background: #FFF; margin-top: -12px; padding: 12px; min-width: 320px;
	border: 3px dashed #337AB7;
}

#checkout-form {
	padding: 24px;
	margin-top: 12px;
	margin-bottom: 12px;
	background-color: #EEFFEE;
	border: 1px solid #4CAE4C;
	border-radius: 5px;
}

#checkout-table {
	background-color: #FFF;
}

.checkout-table-total {
	color: #FFF;
	background-color: #555 !important;
}

.checkout-table-modif {
	color: #FFF;
	background-color: #6A6A6A !important;
}
