* { margin:0; padding:0; }

html { background:#fff; font-family:trebuchet ms, candara, sans-serif; font-size:62.5%; }
body { font-size:1.5em; }
.col-xs-4{padding-left: 4px !important; padding-right: 4px !important;}
h1 { 
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.8em;
  font-weight: 300;
}

h2 { font-size: 1.85em; margin-bottom:1em; }

p  {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  font-weight: bold;
}

h4 { font-size: 1.4em; }
h5 { font-weight: bold; margin-left: 1em; margin-right: 1em; }

.clear { clear:both; }

.fadeout {
    position: relative;
    bottom: 4em;
    height: 4em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}

/* Slider */
.jcart.slider {
  width: 80%;
  max-width: 80%;
  height: auto;
  max-height: 80%;
  padding-top: 0;
  margin-top: auto;
  margin-bottom: auto;
  background: #FFF;
  margin: 0 auto;
}
.jcart.slider h3 {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: #575757;
  font-weight: 600;

}
.jcart.slider .slider-description {
  margin-right: 24px;
  overflow: hidden;
}
.jcart.slider .slider-description-p {
  overflow-y: scroll;
  height: auto;
  max-height: 145px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: #575757;
}

.jcart.slider .slider-description-p p {
  text-align: justify;
  font-size: 1.1em !important;
  font-family: 'Source Sans Pro', sans-serif;
}
.jcart.slider .imgdiv {
  height: 280px;
  width: 50%;
  float: left;
  text-align: center;
  align-content: center;
  vertical-align: middle;
  overflow: hidden;
}
.jcart.slider img {
  height: 280px;
  max-width: 100%;
  padding: 16px;
}
.jcart.slider .add-to-cart-slider {
  float:left;
}

#add-to-cart-slider{
  margin-top: 2em;
}

#add-to-cart-slider-button{
  background-image: url('../../data/hybrix\ -\ gradient.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
  padding: padding-top;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1em;
  padding-right: 1em;
  font-family: 'Open Sans Pro';
  font-weight: 600;
  border: 0.5px solid #575757;
  border-radius: 4px;
  transition: 1000ms;
}

#footerButton{
  background-image: url('../../data/hybrix\ -\ gradient.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
  padding: padding-top;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1em;
  padding-right: 1em;
  font-family: 'Open Sans Pro';
  font-weight: 600;
  border: 0.5px solid #575757;
  border-radius: 4px;
  transition: 1000ms;
}

#footerButton:hover{
  padding-top: 1em;
  padding-bottom: 1em;
}

#add-to-cart-slider-button:hover {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

#sliderShopControls{
  text-align: center !important;
  margin: 0 auto !important;
}

/* Main front */
#peer2product { margin: 0 auto; width: 90%; padding: 1px; min-height: 200px;}
/* #shopnav {   } */

#shopcta{
  /* background: #fff;
	background: linear-gradient(90deg, rgba(231,160,96,0.6264705711386117) 4%, rgba(237,92,174,0.6376750529313288) 35%, rgba(125,186,202,1) 69%, rgba(239,87,187,0.6264705711386117) 96%);
	background-size: 400% 400%;
	animation: gradient 60s ease infinite; */
  border-radius: 24px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 8px;
  text-align: center; 
  color: #575757;
  margin-top: 1em;
   
}

#shopcta p{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-style: italic;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#shopNavigation {
  background: url('../../data/hybrix_bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 300px;
}

#navbar { 
  display: inline-block;
  margin-top: 2em;
  width: 100%;
  text-align: center;
}

#navbar a { 
  text-decoration: none;
  font-family: 'Comfortaa', cursive;
  font-size: 1em;
  color: #575757;
  min-width: 100px;
  min-height: 2em;
}

.icon{
  font-size: 1em;
  
}

#sorting button {
  background: #575757;
  color: #fff;
  font-family: 'Comfortaa', cursive;
}

#hybrix-footer{
  min-height: 400px;
  height: auto;
  background-image: url(../../data/hybrix-mountainbanner.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}



#footer { float: right; margin-top: 24px; margin-bottom: 16px; color:#FFF; }
#footer a {text-decoration: none; color: #fff !important; transition: 600ms;}
#footer a:hover{font-weight:bolder;}
#sidebar { width:100%; float:right; margin-left: 20px; margin-left: 20px; padding-bottom: 24px; }
#bottombar { width:70%; max-width: 780px; margin: auto; margin-top: 48px; margin-bottom: 36px; }

#content { 
  min-height: 480px; 
}

#itemName{
  font-family: "Open Sans Pro";
  text-align: center;
  font-weight: 300 !important;
  color: #575757;
}

#itemPrice{
  font-family: "Open Sans Pro";
  text-align: center;
  font-weight: 300 !important;
  color: #575757;
}

#itemAddToCart{
  background: #575757;
  color: #fff;
  padding: padding-top;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1em;
  padding-right: 1em;
  font-family: 'Open Sans Pro';
  font-weight: 300;
  border: 0.5px solid #575757;
  border-radius: 4px;
  transition: 1000ms;
  margin: 0 auto;
}

#itemAddToCart:hover{
  font-weight: 600;
  background-image: url('../../data/hybrix\ -\ gradient.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

#content p { font-size: 1.2em; margin-bottom: 0.7em; }

#categories { padding-top: 0; padding-bottom: 4px; float: left; text-align: left; margin-top: 0.5em}
.nobutton { border: 0; background-color: transparent; border-color: transparent; line-height: 1em; font-size: 18px; }

/* Checkout */
.navsteps { text-align: center; }
.badge { background-color: #999; vertical-align: middle; padding: 5px; padding-left: 12px; padding-right: 12px; margin-left: 12px; margin-right: 12px; }
.badge-active { background-color: #7B7; }

#paymentnav { padding: 10px 20px; margin-top: 4px; }
#paymentnavBack, #paymentnavNext {
  min-width: 80px;
  border: 4px solid #fff;
  background-color: #fff;
  color: #575757;
  font-family: "Open Sans Pro";
  font-weight: 600;
  margin-bottom: 1em;
}

label { margin-top: 12px; }

#checkout-container {
  margin-left: 12px;
  margin-right: 12px;
}

#address-container {
  display: inline-block; background: #FFF; margin-top: -12px; padding: 12px; min-width: 320px;
  border: 3px dashed #337AB7;
}

#checkout-form {
  padding: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
  background: rgb(238,255,238);
  background: linear-gradient(90deg, rgba(238,255,238,1) 0%, rgba(255,255,255,1) 100%);
  border-radius: 5px;
  font-family: 'Open Sans Pro';
}

#checkout-table {
  background-color: #FFF;
}

.checkout-table-total {
  color: #FFF;
  background-color: #555 !important;
}

.checkout-table-modif {
  color: #FFF;
  background-color: #6A6A6A !important;
}


#categoryButtons button{
  background: #575757;
  color: #fff;
  font-family: 'Comfortaa', cursive;
  margin: 2px;
  transition: 1000ms;
}

#categoryButtons button:hover{
  background-image: url('../../data/hybrix\ -\ gradient.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-left: 18px;
  padding-right: 18px;
}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 600px) {

  #categories{text-align: left;}
}

@media only screen and (min-width: 768px) {

  #navbar a{font-size: 1.3em;}
  .icon{font-size: 1.1em;}
  .slider-description-p p{text-align: justify ;}
}

@media only screen and (min-width: 990px){
  .jcart.slider h3 {text-align: left;}
}

@media only screen and (min-width: 1201px) {

}
